<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Book View</title>
        <script>

            // Checks if the user has comment permissions
            function isReader() {

            }

        </script>
    </head>
    <body>
        <div>
            <div>
                // List of chapters
            </div>
            <div>
                // Current chapter contents
            </div>
            <div>
                // Upvote counter
                <label id="upvoteCounter"></label>
                <button>Upvote</button> // Can only click once
            </div>
            <div id="commentSection"></div>
        </div>
    </body>
    <script type="text/javascript"
            src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script>viewChapter()</script>
</html>
