<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Book View</title>

        <link rel="shortcut icon" type="image/png" href="samepagelogo.png"/>

        <style>
            body{
                background-color:#A5E7DA;
            }
            .top{
                position: absolute;
                top: 5%;
                left: 5%;
            }
            .logout{
                position: fixed;
                float: left;
                right: 1%;
                top:1px;
            }
            .button {
                border: none;
                color: white;
                border-radius: 5px;
                border: 3px black;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                background-color: #234E52;

            }
            .img{
                cursor: pointer;
                display: block;

            }
        </style>
        <script>
            function viewBook() {

                const book = {};
                book["userID"] = sessionStorage.getItem("userID");
                book["bookID"] = sessionStorage.getItem("bookID");

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/api/viewbook",
                    data: JSON.stringify(book),
                    dataType: 'json',
                    cache: false,
                    timeout: 10000,
                    success: function (data) {
                        if (!data.success) {
                            alert("You have no authorization.");
                        }
                        else {
                            sessionStorage.setItem("curBookTitle", data.bookTitle);
                            sessionStorage.setItem("curBookOwner", data.ownerName);
                            sessionStorage.setItem("curBookEditors", data.editorName);
                            sessionStorage.setItem("curBookAuthors", data.authorName);
                            sessionStorage.setItem("chapterNums", data.chapterNum);
                            document.getElementById("bookTitle").innerHTML = data.bookTitle;
                            displayChapters(data.chapterNum);
                        }
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });
            }

            function viewChapter(chapterNum) {

                const chapter = {};
                chapter["userID"] = sessionStorage.getItem("userID");
                chapter["bookID"] = sessionStorage.getItem("bookID");
                chapter["chapterNum"] = chapterNum;

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/api/viewchapter",
                    data: JSON.stringify(chapter),
                    dataType: 'json',
                    cache: false,
                    timeout: 10000,
                    success: function (data) {
                        sessionStorage.setItem("submissionIDs", data.submissionID);
                        sessionStorage.setItem("submissionTitles", data.submissionTitle);
                        sessionStorage.setItem("isAccepted", data.isAccepted);
                        sessionStorage.setItem("voteCounts", data.voteCount);
                        sessionStorage.setItem("estimatedTimes", data.estimatedTime);
                        displaySubmissions(data.submissionID, data.submissionTitle, data.estimatedTime);
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });
            }

            function displayChapters(chapterNums) {
                const mainContainer = document.getElementById("chapterList");
                for (let i = 0; i < chapterNums.length; i++) {
                    const div = document.createElement("div");
                    div.innerHTML = "Chapter " + chapterNums[i] +
                        "<button class = 'button' onclick='viewChapter("+chapterNums[i]+")'>View</button>";
                    mainContainer.appendChild(div);
                }
            }

            function displaySubmissions(subIDs, subTitles) {
                const mainContainer = document.getElementById("submissionList");
                for (let i = 0; i < subIDs.length; i++) {
                    const div = document.createElement("div");
                    div.innerHTML = subTitles[i] + "<button class = 'button' onclick='openSubmissionView("+subIDs[i]+")'>View</button>";
                    mainContainer.appendChild(div);
                }
                const button = document.createElement("button");
                button.innerHTML = "<button>New Submission</button>";
                mainContainer.appendChild(button);
            }

            function openSubmissionView(submissionID) {
                sessionStorage.setItem("submissionID", submissionID);
                window.location = "submissionviewpage";
            }

            function logout(){

                sessionStorage.clear();
                window.location = "/";
            }

        </script>
    </head>
    <body>
    <img class ="img" src="../samepagelogo.png" alt="logo" style="width:2.5%;" onclick="window.location.href='mainpage'">
    <div class="logout">
        <button class="button" onclick="logout()">Logout</button>
    </div>
        <div>
            <h1 id="bookTitle"></h1>
            <div id="chapterList"></div>
            <div id="submissionList"></div>
        </div>
    </body>
    <script type="text/javascript"
            src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script>viewBook()</script>
</html>
