<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
      href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
<head>
    <title>Login Page</title>

    <script>
        function Login() {
            // login function
        }
    </script>
</head>
<body>
    <p>Username:</p>
    <input id="username"/>
    <p>Password:</p>
    <input id="password"/>
    <button onclick="Login()">Login</button>
</body>
<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>
</html>
