<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Main Page</title>
        <style>
        </style>
        <script>
            function main() {
                const user = {};
                user["userID"] = localStorage.getItem("userID");

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/api/main",
                    data: JSON.stringify(user),
                    dataType: 'json',
                    cache: false,
                    timeout: 10000,
                    success: function (data) {
                        if (data.success) {


                            displayBooks(data.bookID,data.bookTitle);
                        }
                        else {
                            document.getElementById("bookList").innerHTML = "No books to display.";
                        }
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });
            }

            function displayBooks(bookIds,bookTitles) {

                const mainContainer = document.getElementById("bookList");
                for (let i = 0; i < bookIds.length; i++) {
                    const div = document.createElement("div");
                    div.innerHTML = bookTitles[i] +
                        "<button onclick='goToBook("+bookIds[i]+")'>Go to book</button>";
                    mainContainer.appendChild(div);
                }
            }

            function createBook() {
                const newBookTitle = document.getElementById("newBookTitle").value;
                if (newBookTitle === "") {
                    alert("Please input a name.");
                }
                else {
                    const newBook = {};
                    newBook["userID"] = localStorage.getItem("userID");
                    newBook["title"] = newBookTitle;

                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: "/api/createbook",
                        data: JSON.stringify(newBook),
                        dataType: 'json',
                        cache: false,
                        timeout: 10000,
                        success: function (data) {
                            if (!data.success) {
                                alert("Choose a different book title.");
                            }
                            else {
                                sessionStorage.setItem("bookID", data.bookID);
                                openBookEditor();
                            }
                        },
                        error: function (e) {
                            console.log("ERROR : ", e);
                        }
                    });
                }
            }

            function goToBook(id){
                sessionStorage.setItem("bookID",id);
                window.location = "bookviewpage";
            }

            function logout(){

                sessionStorage.clear();
                window.location = "/";
            }


        </script>
    </head>
    <body>
        <div>
            <h1 id="header"></h1>
            <button onclick="logout()">Logout</button>
        </div>
        <div>
            <input type="text" id="newBookTitle" placeholder="Name for new book"/>
            <button onclick="createBook()">Create Book</button>
        </div>
        <div id="bookList"></div>
    </body>
    <script type="text/javascript"
            src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script>
        document.getElementById("header").innerHTML = sessionStorage.getItem("username") + "'s Home Page";
        main();
    </script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
</html>
