<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Book View</title>

        <link rel="shortcut icon" type="image/png" href="samepagelogo.png"/>

        <style>
            body{
                background-color:#A5E7DA;
            }
            .top{
                position: absolute;
                top: 5%;
                left: 5%;
            }
            .logout{
                position: fixed;
                float: left;
                right: 1%;
                top:1px;
            }
            .button {
                border: none;
                color: white;
                border-radius: 5px;
                border: 3px black;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                background-color: #234E52;

            }

            .img{
                cursor: pointer;
                display: block;

            }
            .mainatt{
                position: absolute;
                top: 10%;
                left: 10%;

            }
            .title{
                font-size: 40px;
            }
            .author{
                font-size: 18px;
            }
            .est{
                font-size: 18px;

            }
            .subBody{
                font-size: 18px;
                padding-bottom: 15px;
                padding-top: 15px;
            }

        </style>
        <script>

            function viewSubmission(submissionID) {

                const submission = {};
                submission["userID"] = sessionStorage.getItem("userID");
                submission["bookID"] = sessionStorage.getItem("bookID");
                submission["submissionID"] = submissionID;

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/api/viewsubmission",
                    data: JSON.stringify(submission),
                    dataType: 'json',
                    cache: false,
                    timeout: 10000,
                    success: function (data) {
                        sessionStorage.setItem("submissionTitle", data.submissionTitle);
                        sessionStorage.setItem("submissionBody", data.submissionBody);
                        sessionStorage.setItem("submissionAuthor", data.submissionAuthor);
                        sessionStorage.setItem("isAccepted", data.isAccepted);
                        sessionStorage.setItem("voteCount", data.voteCount);
                        sessionStorage.setItem("estimatedTime", data.estimatedTime);
                        displaySubmission();
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });
            }

            function displaySubmission() {
                document.getElementById("submissionTitle").innerHTML = "\"" + sessionStorage.getItem("submissionTitle") + "\"";
                document.getElementById("submissionAuthor").innerHTML = "Written by " +sessionStorage.getItem("submissionAuthor");
                document.getElementById("estimatedTime").innerHTML = "Estimated time of completion: " + sessionStorage.getItem("estimatedTime");
                document.getElementById("submissionBody").innerHTML = sessionStorage.getItem("submissionBody");
                document.getElementById("voteCount").innerHTML = "Votes: " + sessionStorage.getItem("voteCount");
            }

            function acceptSubmission() {

                const accept = {};
                accept["userID"] = sessionStorage.getItem("userID");
                accept["submissionID"] = sessionStorage.getItem("submissionID");
                accept["bookID"] = sessionStorage.getItem("bookID");

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/api/acceptsubmission",
                    data: JSON.stringify(accept),
                    dataType: 'json',
                    cache: false,
                    timeout: 10000,
                    success: function (data) {
                        if(!data.success) {
                            alert("You have no authorization to accept a submission.");
                        }
                        else{
                            alert("Submission accepted.");
                        }
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });
            }

            function comment() {

                const newComment = {};
                newComment["userID"] = sessionStorage.getItem("userID");
                newComment["bookID"] = sessionStorage.getItem("bookID");
                newComment["submissionID"] = parseInt(sessionStorage.getItem("submissionID"));
                newComment["body"] = $("#newComment").val();

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/api/comment",
                    data: JSON.stringify(newComment),
                    dataType: 'json',
                    cache: false,
                    timeout: 10000,
                    success: function (data) {
                        if (!data.success) {
                            alert("You have no authorization to comment.");
                        }
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });
            }

            function viewComment() {

                const submissionID = {};
                submissionID["userID"] = parseInt(sessionStorage.getItem("userID"));
                submissionID["bookID"] = parseInt(sessionStorage.getItem("bookID"));
                submissionID["submissionID"] = parseInt(sessionStorage.getItem("submissionID"));

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/api/viewcomment",
                    data: JSON.stringify(submissionID),
                    dataType: 'json',
                    cache: false,
                    timeout: 10000,
                    success: function (data) {
                        if (!data.success) {
                            alert("You have no authorization to view a comment.");
                        }
                        else {
                            sessionStorage.setItem("commentUsernames", data.username);
                            sessionStorage.setItem("commentBodies", data.body);
                            displayComments(data.username, data.body);
                        }
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });
            }

            function displayComments(commentUsernames, commentBodies) {
                var mainContainer = document.getElementById("commentSection");
                for (var i = 0; i < commentUsernames.length; i++) {
                    const div = document.createElement("div");
                    div.innerHTML = commentUsernames[i] + ": " + commentBodies[i];
                    mainContainer.appendChild(div);
                }
            }

            function voteSubmission() {

                const vote = {};
                vote["userID"] = sessionStorage.getItem("userID");
                vote["submissionID"] = sessionStorage.getItem("submissionID");
                vote["bookID"] = sessionStorage.getItem("bookID");

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/api/votesubmission",
                    data: JSON.stringify(vote),
                    dataType: 'json',
                    cache: false,
                    timeout: 10000,
                    success: function (data) {
                        if (!data.success) {
                            alert("You have no authorization to vote for submissions.");
                        }
                        else {
                            alert("Thanks for voting.")
                        }
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });
            }

            function viewVoteCount() {
                document.getElementById("voteCount").innerHTML = sessionStorage.getItem("voteCount") + " Votes";
            }

            function logout(){

                sessionStorage.clear();
                window.location = "/";
            }
            

        </script>
    </head>
        <body>
        <img class ="img" src="../samepagelogo.png" alt="logo" style="width:2.5%;" onclick="window.location.href='mainpage'">
        <div class="logout">
            <button class='button' onclick="logout()">Logout</button>
        </div>
        <div class="mainatt">
            <div class="title" id="submissionTitle"></div>
            <div class="author" id="submissionAuthor"></div>
            <div class="est" id="estimatedTime"></div>
            
            <div class="subBody" id="submissionBody"></div>

            <div id="voteCount"></div>
            <button class='button' onclick="voteSubmission()">Upvote</button>
            <h3>Comment Section:</h3>
            <div id="commentSection"></div>
            <div>
                <input id="newComment" placeholder="Comment here"/>
                <button class='button' id="commentButton" onclick="comment()">Send</button>
            </div>
            <h4>Editors Only: </h4>
            <button class='button' onclick="acceptSubmission()">Accept Submission</button>
            <button class='button'>Edit Submission</button>
        </div>
    </body>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script>viewSubmission(sessionStorage.getItem("submissionID"))</script>
    <script>viewComment()</script>
    <script>viewVoteCount()</script>
</html>
