<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
    </style>
    <title>Submission Editor Page</title>
    <script>
        function submitSubmission() {

        }
    </script>
</head>
<body>
    <div>
        <div>
            <button>Logout</button> // save work popup?
        </div>
        <div>
            <input type="text" id="submissionTitle" placeholder="Submission Title"/>
        </div>
        <div>
            <label>Estimated Completion Date:</label>
            <input type="date" id="completionDate"/>
        </div>
        <div>
            <input type="text" id="submissionData" placeholder="Chapter submission"/>
        </div>
        <div>
            <button>Save</button> Save progress
            <button>Submit</button> // Are you sure popup?
        </div>
    </div>
</body>
<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</html>
