html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

input, label {
    display:block;
    margin: 4px;
}

p {
    margin-top: 8px;
    margin-bottom: 2px;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: Arial, sans-serif;
}

button {
    margin-top: 6px;
    margin-bottom: 10px;
    background-color: lightblue;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);
}

.bordered {
    border-style: solid;
    border-radius: 25px;
    border-color: lightblue;
    padding: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
}